$primary-color: #fff;

body {
  background-color: $primary-color;
  font-family: Arial, sans-serif;
}

.canvas-wrapper {
    margin:auto;
    max-width:540px;
    padding:20px;
}

.found-word {
    font-weight: 800;
    color: green; /* Change color to whatever you prefer */
  }

#timer {
  display: inline-block;
  font-size:2rem;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row > h4{
  display:inline;
}